<%= form_for @language_skills , remote: true do |f|%>
	<table class="cv_tables form_table">
		<tr>
			<td><span>Name</span></td>
			<td><%= f.text_field :name %></td>
		</tr>
		<tr>
			<ul><span>Level</span>
			<li><%= f.radio_button :level "0" %></li>
			<li><%= f.radio_button :level "1" %></li>
			<li><%= f.radio_button :level "2" %></li>
			<li><%= f.radio_button :level "3" %></li>
			<li><%= f.radio_button :level "4" %></li>
			<li><%= f.radio_button :level "5" %></li>
		</ul>
		</tr>
		<tr>
			<ul><span>Skill Type</span>
			<li><%= f.radio_button :skill_type, "Spoken" %></li>
			<li><%= f.radio_button :skill_type, "Written" %></li>
		</ul>
		</tr>
		
		<tr><td colspan="2"><%=f.submit 'Save', class: "button button-primary"%></td></tr>
	</table>
	<% end %>