<table class="table">
  <tr>  
  	<th>Title</th>    
    <th>Dead line</th>
    <th></th>    
    <th></th>    
  </tr>
  <% if get_vacancies(company).count >0 %>
    
  
  <% for item in @vacancies %>
    <tr>  
    	<td>
        <%= link_to vacancy_path(item) do %>
          <%= item.title %>
  		  <% end %>
    	</td>  
      <td> <%= item.deadline%> </td>  
       <td> <%= item.applications.count %> </td> 
      <td> <%= link_to "Edit", edit_vacancy_path(item)%> </td> 
    </tr>
  <% end %>
  <% end %>
</table>
