<div class="span4"><p>
	<%= image_tag @vacancy.company_profile.logo.url(:profile_pic) if @vacancy.company_profile.logo? %> <br><p>
	<%= link_to "Edit", edit_vacancy_path(@vacancy) , class: "button button-primary"%>
	<%= link_to "Apply", "#", class: "button button-primary" if current_user.profile_type== 'UserProfile'%></p>
	Address:		<%= @vacancy.street %> <%= @vacancy.city %><%= @vacancy.zip %><%= @vacancy.city %>	<%= @vacancy.country %></p><p> 
	Job Duration:	<%= @vacancy.job_duration %> </p><p>
	Job Type:		<%= @vacancy.job_type %> </p>
</div> 

<div class="span8">
	<h4><%= @vacancy.title %> </h4>
	<%= raw @vacancy.description %> 
	<div class="filter_form"></div>
	<table class="table">
	  <tr>   
	  	<th></th>    
	    <th>Name</th>
	    <th>City</th> 
	    <th>Age</th>       
	  </tr>
		<%  @vacancy.applications.each do|applicant| %> 
			<%= link_to user_profile_path(applicant) do %>	
			  	<tr>  
				  	<td>
				  		<%= image_tag applicant.avatar.url(:thumb) if applicant.logo? %> 		
				  	</td>
				    <td><%= applicant.name %></td>
				    <td><%= applicant.city %></td>    
				    <td><%= applicant.age %></td> 
			  	</tr> 
	  		<% end %>
	  	<% end %>
	</table>
</div>

