<div class="span4"><p>
	<%= image_tag @vacancy.company_profile.logo.url(:profile_pic) if @vacancy.company_profile.logo? %> <br>
	Address:		<%= @vacancy.street %> <%= @vacancy.city %><%= @vacancy.zip %><%= @vacancy.city %>	<%= @vacancy.country %></p><p> 
	Job Duration:	<%= @vacancy.job_duration %> </p><p>
	Job Type:		<%= @vacancy.job_type %> </p><p>
	<%= link_to "Edit", edit_vacancy_path(@vacancy) , class: "button button-primary"%>
	<%= link_to "Apply", "#", class: "button button-primary"%></p>
</div> 

<div class="span8">
	<h4><%= @vacancy.title %> </h4>
	<%= raw @vacancy.description %> 
</div>