<div class="span4"><p>
	<%= image_tag @vacancy.company_profile.logo.url(:profile_pic) if @vacancy.company_profile.logo? %> <br><p>
	<%= link_to "Edit", edit_vacancy_path(@vacancy) , class: "button button-primary" if  can? :update, @vacancy %>



	<%= link_to "Delete", @vacancy, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-primary right" %> 

	<%= link_to new_application_path, remote: true, class: "vacancy" do %>	
				 		<span class= "btn btn-primary right">
				 		 Apply
					 	</span>
					 <% end%>



	Address:		<%= @vacancy.street %> <%= @vacancy.city %><%= @vacancy.zip %><%= @vacancy.city %>	<%= @vacancy.country %></p><p> 
	Job Duration:	<%= @vacancy.job_duration %> </p><p>
	Job Type:		<%= @vacancy.job_type %> </p>
</div> 

<div class="span8">
<h4><%= @vacancy.title %> </h4>
	<%= raw @vacancy.description %> 
	<div class="filter_form"></div>
	<table class="table">
	  <tr>   
	  	<th></th>    
	    <th>Name</th>
	    <th>City</th> 
	    <th>Age</th>       
	  </tr>
		<% @vacancy.applications.each do |applicant| %> 	
			<div class="applicants">		
		  		<%= render '/shared/user_profile_item',  :profile=> applicant.user_profile %>
		  	</div>
	  	<% end %>
	</table>

	
</div>