<div class="p-menu right ">
	<div class="thumb-holder">

			<%=(link_to image_tag(current_profile.logo(:thumb), class: 'menu-thumb'), current_profile ) if current_user.profile_type== 'CompanyProfile'%> 
			<%=(link_to image_tag(current_profile.avatar(:thumb) || default_pic(:thumb), class: 'menu-thumb'), current_profile) if current_user.profile_type== 'UserProfile'%>

	</div>
	<div class="menu-opener">
		<div class="mask"></div>
		<i class="icon-asterisk icon-white menu-ico"></i>
	</div>
	<div class="short-menu">
		<ul class="menu-list">
			<li> <%= link_to 'Profile', current_profile %></li>
			<div class="line"></div>

			<%if current_user.profile_type== 'UserProfile' %>
				<li><%= link_to 'Profile Settings', edit_user_profile_path(current_profile) %></li>
			<%end %>
			<%if current_user.profile_type== 'CompanyProfile' %>
				<li><%= link_to 'Profile Settings', edit_company_profile_path(current_profile) %></li>
			<%end %>
			<div class="line"></div>
			<li><%= link_to 'Sign Out', signout_path, method: :delete %></li>
		</ul>
	</div>
</div>