
 <% if current_user %>
		<%= link_to image_tag(current_profile.image(:tiny), :border=>0, class: 'pic_tiny'), current_profile %>
		<span class="user-option"><%= link_to fullname, current_user, class: 'user-name' %> <i class="icon-cog icon-black"></i> </span>
		 <ul >
		    
		    <li><%= link_to "Profile Settings", edit_user_profile_path(current_user) %></li>
		    <li><%= link_to "Profile", current_profile %></li>
		    <li><%= link_to "Sign Out", signout_path, method: "delete" %></li>
		  </ul>
<% else %>

<% end %>