<div>
	<%= f.label :logo %><br/>
	<%= f.file_field :logo, :as => :file %> 
</div>
<div>
	<%= f.label :name %> <br/>
	<%= f.text_field :name %>
</div>

<div>
	<%= f.label :description %> <br/>
	<%= f.text_area :description %>
</div> 
