<%= render 'shared/banner' %>

<div class="span4">
	<%= image_tag @company_profile.logo(:profile_pic) %>
	 <br>
	 
	<br>
	<div>
		<% if can? :edit, @company_profile %>
		<div  class="margin-5">
		<%= link_to edit_company_profile_path(@company_profile) do %>
				 <span class="attr_option buttonify right">
				 	<i class="edit_icon"></i> Edit Profile
				 </span>
				 <% end %>
				
		<% end %>
	</div>
	<table class="contact">
		
	<tr><td>Address </td>	<td><%= @company_profile.street %> <%= @company_profile.city %><%= @company_profile.zip %> <%= @company_profile.country %> </td> </tr>
	<tr><td>Website </td>	<td><%= @company_profile.website %> </td> </tr>
	<tr><td>Contacts </td>	<td><%= @company_profile.contact %> </td> </tr>
	
	</table>
</div>

</div> 
<div class="span8">
	<div style="min-height:200px;" class="focus">
		<h3><%= @company_profile.name %> </h3>	
		
		<p><%= raw @company_profile.description %> </p>
	</div>
		<div class="company_vacancies">
		<h4>Recent Vacancy Announcements</h4>
		<% if current_profile == @company_profile %>	
				<%= link_to new_vacancy_path do %>
				 <span class="right  attr_option buttonify">
				 	<i class="add_icon"></i> New Vacancy
				 </span>
				 <% end %>
		<% end %>
		<%= render 'vacancies/vacancies', :company=> @company_profile %>
	</div>
</div>