<h2><%= @company_profile.name %> </h2>
<div class="span4">
	<%= image_tag @company_profile.logo.url(:profile_pic) if @company_profile.logo? %> <br>
	<%= link_to "Edit", edit_company_profile_path(@company_profile), class: "button button-primary"%>		
</div> 
<div class="span8">
	<h3><%= @company_profile.name %> </h3>	
	<p>Address:			<%= @company_profile.street %> <%= @company_profile.city %><%= @company_profile.zip %> <%= @company_profile.country %> </p>
	<p>Website:			<%= @company_profile.website %> </p>
	<p>Contacts:		<%= @company_profile.company_type %> </p>
	<p>Description:		<%= @company_profile.description %> </p>
</div>