<div>
		<div class="basic_info">
			<h3><%= @user_profile.firstname %> <%= @user_profile.lastname %>'s CV</h3>
			<div  class="span4">
				<%= image_tag @user_profile.avatar(:profile_pic), class: "decorate" %> <p>
			</div>
			<div  class="span8">
				<div>
					<h4><%= @user_profile.firstname %> <%= @user_profile.lastname %></h4><p>
					Address: 	<%= @user_profile.full_address %></p><p>
					Age: 			<%= (Time.now.year-@user_profile.birth_date.year) if @user_profile.birth_date %> <%= "(#{@user_profile.birth_date })" %></p><p>
					Gender:			<%= @user_profile.gender %></p><p>
					Street:			<%= @user_profile.street %></p><p>
					City:			<%= @user_profile.city %></p><p>
					Zip code:		<%= @user_profile.zip %></p><p>
					Country:		<%= @user_profile.country %></p><p>
				</div>
			</div>
		</div>

		<div class="qualifications cv_attr span12">
			<div class="attr_head">
				<span class="headText"><h4>Qualifications</h4> </span>
				<span class="right attr_option buttonify">
					<i class="add_icon"></i> Add
				</span>
			</div>
		</div>

		<div class="experiences cv_attr span12">
			<div class="attr_head">
				<span class="headText"><h4>Experiences</h4> </span>
				 <span class="right  attr_option buttonify">
				 	<i class="add_icon"></i> Add
				 </span>
			</div>
		</div>

		<div class="languageSkills cv_attr span12">
			<div class="attr_head ">
				<span class="headText"><h4>Language Skills</h4> </span>
				 <span class="right  attr_option buttonify">
				 	<i class="add_icon"></i> Add
				 </span>
			</div>
		</div>
	
</div>