<div>  
<%= f.label "Name" %>
<br>
<%= f.text_field :firstname, placeholder: 'First name' %><br>
<%= f.text_field :lastname, placeholder: 'Last name' %>
<br>

<%= f.label :full_address %>
<br>
<%= f.text_field :full_address , placeholder: 'Street | City | Zip code | Country' %>
<br>
</div>