<% provide(:title, 'Jobly | Job seeker Sign up') %>
<h1>Job Seeker SignUp</h1>

<%= form_for(@user_profile) do |f| %>
	<%= f.fields_for :user do |af| %>
	    <%= render 'shared/user_signup', user: af %>
    <%end%>
    <br>
	<%= f.label :firstname %>
	<br>
    <%= f.text_field :firstname %>
    <br><br>
    <%= f.label :lastname %>
    <br>
    <%= f.text_field :lastname %>
    <br>
    <%= f.submit 'Submit' %>
<% end %>
