<% provide(:title, 'Jobly | Job seeker Sign up') %>
<h1>Job Seeker SignUp</h1>

<%= form_for(@user_profile) do |f| %>
	<%= f.label :firstname %>
	<br />
    <%= f.text_field :firstname %>
    <br /><br />
    <%= f.label :lastname %>
    <br />
    <%= f.text_field :lastname %>

    <%= f.fields_for :user do |af| %>
	    <%= af.label :email %>
	    <br />
	    <%= af.text_field :email %>
	    <br /><br />
	    <%= af.label :password %>
	    <br />
	    <%= af.password_field :password %>
	    <br /><br />
	    <%= af.label :password_confirmation %>
	    <br />
	    <%= af.password_field :password_confirmation %>
    <%end%>
    <%= f.submit 'Submit' %>
<% end %>
