<% provide(:title, 'Jobly | Job seeker Sign up') %>
<h1>Job Seeker SignUp</h1>

<%= form_for(@user_profile) do |f| %>
	<%= f.fields_for :user do |af| %>
	    <%= render 'shared/user_signup', user: af %>
    <%end%>
    <br>
	<%= f.label :firstname %>
	<br>
    <%= f.text_field :firstname, placeholder: 'Firstname' %>
    <br><br>
    <%= f.label :lastname %>
    <br>
    <%= f.text_field :lastname %>
    <br>
    <%= f.label :gender %>
    <br>
    <%= f.text_field :gender %>
    <br>
    <%= f.label :birth_date %>
    <br>
    <%= f.text_field :birth_date %>
    <br>
    <%= f.label :full_address %>
    <br>
    <%= f.text_field :full_address %>
    <br>
 
    <br>
    <%= f.file_field :avatar %>
    <br>
    <%= f.submit 'Submit', class: 'button button-primary' %>
<% end %>
