<%= form_for @experience , remote: true do |f|%>
	<table>
		<tr>
			<td><span>Employer</span></td>
			<td><%= f.text_field :employer %></td>
		</tr>
		<tr>
			<td><span>Business Field</span></td>
			<td><%= f.text_field :business_field %></td>
		</tr>
		<tr>
			<td><span>Address</span></td>
			<td><%= f.text_field :full_address %></td>
		</tr>
		<tr>
			<td><span>Job Position</span></td>
			<td><%= f.text_field :position %></td>
		</tr>
		<tr>
			<td><span>Responsibilities</span></td>
			<td><%= f.text_area :responsibilities %></td>
		</tr>
		<tr>
			<td><span>Start date</span></td>
			<td><%= f.text_field :start_date %></td>
		</tr>
		<tr>
			<td><span>End Date</span></td>
			<td><%= f.text_field :end_date %></td>
		</tr>
		<tr><td><%=f.submit 'Save', class: "button button-primary"%></td></tr>
	</table>
	<% end %>