
<div class="experience experience-<%= experience.id%>">
<table class="cv_tables">
	<tr>
		<td>Employer</td><td><%=experience.employer%></td>
	</tr>
	<tr>
		<td>Business field</td><td><%=experience.business_field%></td>
	</tr>
	<tr>
		<td>Address</td><td><%=experience.full_address%></td>
	</tr>
	<tr>
		<td>Job Position</td><td><%=experience.position%></td>
	</tr>
	<tr>
		<td>Responsibilities</td><td><%=experience.responsibilities.gsub(/\n/, '<br>').html_safe%></td>
	</tr>
	<tr>
		<td>Start date</td><td><%=experience.start_date%></td>
	</tr>
	<tr>
		<td>End date</td><td><%=experience.end_date%></td>
	</tr>
</table>
<div class="hidden-options">
	<% if can? :update , experience %>
	<%= link_to edit_experience_path(experience), remote: true do %>
		<i class="icon-edit"></i>
	<%end%>
	<% end%>
	<% if can? :delete , experience %>
	<%= link_to experience, :method => :delete,remote: true, :confirm => "You sure?"  do%>
	<i class=" icon-trash"></i>
	<% end %>
	<% end %>
</div>
</div>