<!DOCTYPE html>
<html>
<head>
  <title><%= set_title(yield(:title)) %></title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<div id="wrap">	
	<div class="container">
	<%= render 'shared/header' %>
	<div id="pull"></div>
		<%= yield %>
	</div>
	<div id="push"></div>
</div>
<div id="footer">
	<%= render 'shared/footer' %>
</div>
</body>
</html>